workflows/whatsapp-view-once-workflow.json
{
  "name": "WhatsApp View-Once Save",
  "nodes": [
    {
      "parameters": {
        "path": "whatsapp-webhook",
        "responseMode": "onReceived",
        "responseData": "noData",
        "options": {}
      },
      "id": "webhook-node",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.type }}",
              "condition": "equal",
              "value2": "view_once"
            },
            {
              "value1": "={{ $json.message.isViewOnce }}",
              "condition": "equal",
              "value2": true
            }
          ],
          "combinator": "or"
        }
      },
      "id": "if-view-once",
      "name": "IF View Once",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        520,
        300
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Convert base64 -> binary for Write Binary File\nconst base64 = $json.message.base64;\nif (!base64) {\n  return item;\n}\nconst mime = $json.message.mimetype || 'image/jpeg';\nconst ext = (mime.split('/')[1] || 'jpg').replace(/[^a-z0-9]/gi, '') || 'jpg';\nconst ts = $json.timestamp || Date.now();\nconst fileName = `${ts}.${ext}`;\n\nitem.binary = {\n  data: {\n    data: Buffer.from(base64, 'base64'),\n    mimeType: mime,\n    fileName\n  }\n};\n\nreturn item;"
      },
      "id": "code-to-binary",
      "name": "To Binary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        780,
        300
      ]
    },
    {
      "parameters": {
        "filePath": "/home/node/n8n/photos/{{ $binary.data.fileName }}",
        "dataPropertyName": "data"
      },
      "id": "write-file",
      "name": "Write File",
      "type": "n8n-nodes-base.writeBinaryFile",
      "typeVersion": 1,
      "position": [
        1040,
        300
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "IF View Once",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF View Once": {
      "main": [
        [
          {
            "node": "To Binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "To Binary": {
      "main": [
        [
          {
            "node": "Write File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {}
}